body {
    background-image: url(../images/preikestolen.JPG) ;
    background-size: cover;
}

.header {
    padding-top: 100px;
}

.indexbox{
    display: block;
    text-align: center;
}

.beigecolor {
    color: beige;
}

.mailbox {
    display: block;
    text-align:left;
    margin-left: 10px;
    margin-right: 10px;
}

.centerText{
    margin: 40px;
}

a:link {
    text-decoration: none;
    margin: 20px 20px 20px 20px;
}

a:hover {
    background-color: rgb(118, 139, 146);
}

a:visited {
    color: rebeccapurple;
}

h1 {
    font-family: Georgia, Times, 'Times New Roman';
    font-weight: 10;
    font-size: 5rem;
    text-align: center;
}

h1:hover{
    color: hotpink;
}

h3 {
    margin: 20px 10px 20px 10px;
}

h3:hover {
    color: hotpink;
}

img {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    box-shadow: 3px 3px 3px 3px rgba(65, 65, 65, 0.533);
}

p {
    font-family:Cambria, Cochin, Georgia;
    margin: 20px 10px 20px 10px;
}


cite:hover {
    color: hotpink;
}

#btnSend {
    padding: 20px 140px 20px 140px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma;
    margin: 10px;
}

#btnSend:hover {
    color: white;
    background-color:hotpink;
}


